.gitignore
Основы программирования/1 курс/Лабораторная работа №1/C++/.vs/C++/v16/Browse.VC.db-wal
Основы программирования/1 курс/Лабораторная работа №1/C++/.vs/C++/v16/Browse.VC.opendb
Основы программирования/1 курс/Лабораторная работа №1/C++/.vs/C++/v16/Browse.VC.db-shm
Основы программирования/1 курс/Лабораторная работа №1/C++/.vs/C++/v16/Browse.VC.db
Основы программирования/1 курс/Лабораторная работа №1/C++/.vs/C++/v16/Browse.VC.db
Основы программирования/1 курс/Лабораторная работа №1/C/.vs/C/v16/Browse.VC.opendb
